.form {
  margin: 0.25rem;
  color: var(--dark-text-color);
}

.form label,
.form input,
.form textarea {
  display: block;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  outline: none;
  border: none;
  border-radius: 9999px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: var(--dark-text-color);
}

.form textarea {
  border-radius: 24px;
  font-family: inherit;
  resize: vertical;
  min-height: 10em;
}

.form input:not([type='submit']),
.form textarea {
  width: 100%;
  background-color: var(--dark-foreground-color);
}

.form input[type='submit'] {
  background-color: green;
  cursor: pointer;
  opacity: 0.8;
  transition: all 150ms ease-out;
}

.form input[type='submit']:hover {
  opacity: 1;
}
